{% extends 'base.html' %}
{% load static %}

{% block page %}

  {% if error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning!</strong> {{ error }}
    </div>
  {% endif %}

  <div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px;">
    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <section class="py-5">
    <div class="container">
      <p class="subtitle text-primary">Creation d'un nouveau service</p>
      <h1 class="h2 mb-5"> Basic information <span class="text-muted float-right">Step 1</span>      </h1>
 
    {% comment %} 
     <h2>Person Form</h2>
        <form method="post" id="gigForm" data-cities-url="{% url 'ajax_load_cities' %}" data-areas-url="{% url 'ajax_load_areas' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form> {% endcomment %}

      <form method="POST" enctype="multipart/form-data"  id="gigForm" data-cities-url="{% url 'ajax_load_cities' %}" data-areas-url="{% url 'ajax_load_areas' %}">
        {% csrf_token %}

        <div class="row form-block">
          <div class="col-lg-4">
            <h4>Basic</h4>
            <p class="text-muted text-sm">Quel service veux-tu proposer ? </p>
          </div>
          <div class="col-lg-7 ml-auto">
            <div class="form-group"></div>
            <div class="form-group">
              <label class="form-label" for="form_name">Titre - Nom ou Titre du service</label>
              {{ form.title }}
            </div>
            <div class="form-group">
              <label class="form-label" for="form_type">Categories</label>
              {{ form.category }}
              <small class="form-text text-muted" id="propertyTypeHelp">Choisis la catégorie qui se rapproche le plus de ton service. </small>
            </div>
            <div class="form-group">
              <label class="form-label" for="form_name">Description</label>
              {{ form.description }}
              <small class="form-text text-muted mt-2" id="descriptionHelp">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.    </small>
            </div>
            <div class="form-group">
              <label class="form-label" for="form_name">Prix - CFA -</label>
              {{ form.price }}
            </div>
            <div class="form-group">
              <label class="form-label" for="form_name">Photo</label>
              {{ form.photo }}
              <small class="form-text text-muted mt-2" id="descriptionHelp">Si possible, importes une photo/image qui illustre ton service </small>
            </div>
          </div>
        </div>
        <div class="row form-block">
          <div class="col-lg-4">
            <h4>Location</h4>
            <p class="text-muted text-sm">Quelle est la localisation de ton service : Indique l'endroit où sera fourni ton service ? .</p>
          </div>
          <div class="col-lg-7 ml-auto">
            <!-- Country-->
            <div class="form-group">
              <label class="form-label" for="form_country">Pays</label>
              {{ form.country }}
            </div>
            <!-- City + Area-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="form_city">Ville</label>
                  {{ form.city }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="form_state">Quartier</label>
                  {{ form.area }}
                </div>
              </div>
            </div>
            <!-- Street-->
            <div class="form-group">
              <label class="form-label" for="form_street">Adresse (optionnel)</label>
              {{ form.address }} 
            </div>
          </div>
        </div>
        <div class="row form-block">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="form_state">Statut de l'annonce</label>
                {{ form.status }}
              </div>
            </div>        
            <div class="container text-center"><button type="submit" class="btn btn-primary">Publier</button></div>
        </div>
      </form>
    </div>
  </section>

<!-- Below Ajax scripts to set dependent form dropdown values  -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_country").change(function () {
        const url = $("#gigForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'country_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                /*
                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);
                */
            }
        });
    });

    $("#id_city").change(function () {
        const url = $("#gigForm").attr("data-areas-url");  // get the url of the `load_cities` view
        const cityId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'city_id': cityId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_area").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });

    /* Set <input> class name
		 */
		//Query All input fields
    var form_fields = document.getElementsByTagName('input')
    for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}

    var form_textarea = document.getElementsByTagName('textarea')
    for (var ta_field in form_textarea){	
			form_textarea[ta_field].className += ' form-control'
		}

    var form_select = document.getElementsByTagName('select')
    for (var sel_field in form_select){	
			form_select[sel_field].className += ' form-control'
		}
</script>

{% endblock %}

