{% extends 'base.html' %}
{% load static %}

{% block page %}
    <div class="container-fluid pt-5 pb-3 border-bottom px-lg-5">
        <div class="row">
            <div class="col-xl-8">
                <h1>Recherche de services </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 px-lg-5">
        <div class="row">
            <div class="col-12">
                <form class="" method="GET" action="#" autocomplete="off">
                    <div class="row">
                        <input class="form-control" type="hidden" name="form_id" id="form_id" value="gfilter">
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="input-label-absolute input-label-absolute-right">
                                <div class="label-absolute"><i class="fa fa-search"></i></div>
                                {{ gig_filter.form.title }}
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-3">
                            {{ gig_filter.form.category }}
                        </div>
                        <div class="col-6 col-lg-2 mb-3">
                            {{ gig_filter.form.country }}
                        </div>
                        <div class="col-6 col-lg-2 mb-3">
                            {{ gig_filter.form.city }}
                        </div>

                        <input type="hidden" name="address" placeholder="Entrez l'emplacement" id="id_address"
                               class="form-control pac-target-input" autocomplete="off">
                        <input type="hidden" name="lat" step="any" id="id_lat" class=" form-control pr-4">
                        <input type="hidden" name="lng" step="any" id="id_lng" class=" form-control pr-4">
                        <div class="col-12 col-lg-2 mb-3">
                            <button class="btn btn-primary w-100" type="submit"><i class="fas fa-filter mr-1"></i>Filter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
                    <div class="mr-3 mt-3 mb-3">
                        <h5 class="mb-3 mb-md-0 font-weight-bold"><strong> {{ gigs.count }} </strong> Resultats trouvés
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <!-- place item-->
                    <div class="col-12 col-lg-7 order-1 order-lg-0">
                        {% for gig in gigs %}
                            <div class="mb-3 hover-animate" data-marker-id="{{ gig.id }}">
                                <div class="card h-100 border-0 shadow flex-lg-row">
                                    <div class="overflow-hidden gradient-overlay card-gig-image gig-img-wrap-div">
                                        {% if gig.cover_image %}
                                            <img width="100%" height="100%" src="/media/{{ gig.cover_image }}"
                                                 alt="{{ gig.title }}"/>
                                        {% else %}
                                            <img width="100%" height="100%" src="{% static 'img/gig-back.jpeg' %}"
                                                 alt="{{ gig.title }}"/>
                                        {% endif %}
                                        <a class="tile-link" href="{% url 'gig_detail' gig.id %}"></a>
                                        {#                                        <div class="card-img-overlay-bottom z-index-20">#}
                                        {#                                            <div class="media text-white text-sm align-items-center"><img#}
                                        {#                                                    class="avatar avatar-border-white mr-2"#}
                                        {#                                                    src="/media/{{ gig.user.profile.avatar }}" alt="{{ gig.title }}"/>#}
                                        {#                                                <div class="media-body"> {{ gig.user.first_name }} </div>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                        <div class="card-img-overlay-top text-right"><a
                                                class="card-fav-icon position-relative z-index-40"
                                                href="javascript: void();">
                                            <svg class="svg-icon text-white">
                                                <use xlink:href="#heart-1"></use>
                                            </svg>
                                        </a></div>
                                    </div>
                                    <div class="card-body d-flex gig-body-wrap-div">
                                        <div class="w-100 position-relative">
                                            <h5 class="card-title"><a class="text-decoration-none text-dark"
                                                                      href="{% url 'gig_detail' gig.id %}"> {{ gig.title|slice:"0:45" }} </a>
                                            </h5>
                                            <div class="d-flex card-subtitle mb-3">
                                                <p class="flex-grow-1 mb-0 text-muted text-sm"> {{ gig.description|slice:"0:300" }}... </p>
                                            </div>
                                            <div class="card-text text-muted gig-price-label d-flex justify-content-between w-100">
                                                <div class="star-rating mb-2" id="gig-id-{{ gig.id }}"></div>
                                                <span class="h5 text-primary"> cfa {{ gig.price }} / h</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-lg-5 order-0 order-lg-last">
                        <div id="map" style="height: 45rem" class="mb-5"></div>
                    </div>
                </div>
                <!-- Pagination -->
                {#                <nav aria-label="Page navigation example">#}
                {#                    <ul class="pagination pagination-template d-flex justify-content-center">#}
                {#                        <li class="page-item"><a class="page-link" href="#"> <i class="fa fa-angle-left"></i></a></li>#}
                {#                        <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
                {#                        <li class="page-item"><a class="page-link" href="#"> <i class="fa fa-angle-right"></i></a></li>#}
                {#                    </ul>#}
                {#                </nav>#}
            </div>
        </div>
    </div>

    <script>
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        for (var field in form_fields) {
            form_fields[field].className += ' form-control pr-4'
        }

        var form_select = document.getElementsByTagName('select')
        for (var sel_field in form_select) {
            form_select[sel_field].className += ' selectpicker form-control'
        }

        $(document).ready(function () {
            let reviews = 0
            let totalStars = 0
            {% for gig in gigs %}
                {% for review in gig.review_set.all %}
                    reviews++;
                    totalStars += parseInt('{{ review.rating }}')
                {% endfor %}
                $('#gig-id-{{ gig.id }}').raty({
                    score: totalStars / reviews,
                    size: 16,
                    path: "{% static 'vendor/Raty/raty-jquery/lib/images' %}",
                    readOnly: true
                });
                reviews = 0
                totalStars = 0
            {% endfor %}
        });

        function getUrlParam(paramName) {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            return urlParams.get(paramName);
        }

        //Init fields from url params
        const title = getUrlParam("title");
        const category = getUrlParam("category");
        const country = getUrlParam("country");
        const city = getUrlParam("city");
        const address = getUrlParam("address");

        if (title) {
            document.querySelector("#id_title").value = title;
        }
        if (category) {
            document.querySelector("#id_category").value = category;
        }
        if (country) {
            document.querySelector("#id_country").value = country;
        }
        if (city) {
            document.querySelector("#id_city").value = city;
        }
        if (address) {
            document.querySelector("#id_address").value = address;
        }

        function initMap() {
            const input = document.getElementById("id_address");
            const options = {
                types: ['neighborhood', 'locality', 'sublocality', 'postal_code'],
                strictBounds: false,
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);

            autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();
                document.querySelector("#id_lat").value = place.geometry.location.lat();
                document.querySelector("#id_lng").value = place.geometry.location.lng();
            })
            //Map init
            let myLatlng = {lat: 0, lng: 0};
            const initLat = getUrlParam("lat")
            const initLng = getUrlParam("lng")

            if (address && initLat) {
                myLatlng.lat = parseFloat(initLat);
                document.querySelector("#id_lat").value = parseFloat(initLat);
            }
            if (address && initLng) {
                myLatlng.lng = parseFloat(initLng);
                document.querySelector("#id_lng").value = parseFloat(initLng);
            }

            let initVal = 0;
            {% if gigs %}
                {% for gig in gigs %}
                    if (initVal === 0) {
                        myLatlng = {
                            lat: parseFloat('{{ gig.location.lat | safe }}'),
                            lng: parseFloat('{{ gig.location.lng | safe }}')
                        }
                    }
                    initVal++;
                {% endfor %}
            {% endif %}
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: myLatlng,
                mapId: google.maps.MapTypeId.ROADMAP
            });
            let markers = []
            let marker
            let isFirstMarker = true
            let infoWindow = new google.maps.InfoWindow({
                content: "Starting",
                ariaLabel: "Uluru",
                maxWidth: 400
            });
            {% for gig in gigs %}
                marker = new google.maps.Marker({
                    map,
                    position: new google.maps.LatLng(
                        '{{ gig.location.lat }}',
                        '{{ gig.location.lng }}'
                    )
                });
                markers.push(marker);
                console.log("Init map === {{ gig.title }}");
                google.maps.event.addListener(marker, 'mouseover', (function (marker) {
                    return function () {
                        let imageUrl = "";
                        const url = "{% url 'gig_detail' gig.id %}";
                        const firstName = "{{ gig.user.first_name }}";
                        {#const gigTitle = "{{ gig.title|slice:"0:45" }}";#}
                        {#const description = "{{ gig.description|slice:"0:200" }}";#}
                        const gigId = "{{ gig.id }}";
                        const gigPrice = "{{ gig.price }}";
                        {% if gig.cover_image %}
                            imageUrl = "/media/{{ gig.cover_image }}"
                        {% else %}
                            imageUrl = "{% static 'img/gig-back.jpeg' %}"
                        {% endif %}
                        {#const content = getContent(imageUrl, url, firstName, gigTitle, description, gigId, gigPrice);#}
                        {#const  content = gigTitle;#}
                        const content = getContent(imageUrl, "url", firstName, "gigTitle", "description", gigId, gigPrice);
                        infoWindow.close();
                        let allReviews = 0;
                        let mapTotalStars = 0;
                        {% for review in gig.review_set.all %}
                            allReviews++;
                            mapTotalStars += parseInt('{{ review.rating }}')
                        {% endfor %}
                        $(document).ready(function () {
                            $('#map-gig-id-{{ gig.id }}').raty({
                                score: mapTotalStars / allReviews,
                                size: 16,
                                path: "{% static 'vendor/Raty/raty-jquery/lib/images' %}",
                                readOnly: true
                            });
                        });
                        infoWindow.setContent(content);
                        infoWindow.open(marker.get("map"), marker);
                    }
                })(marker));
            {% endfor %}
            // Configure the click listener.
            map.addListener("click", (mapsMouseEvent) => {
                const latLng = mapsMouseEvent.latLng.toJSON()
                document.querySelector("#id_lat").value = latLng.lat;
                document.querySelector("#id_lng").value = latLng.lng;
                const newMarker = new google.maps.Marker({
                    map,
                    position: latLng
                });
                if (markers.length > 1 && !isFirstMarker) {
                    const lastMarker = markers.pop()
                    lastMarker.setMap(null)
                }
                markers.push(newMarker)
                isFirstMarker = false
            });
        }

        function getContent(imageUrl, url, firstName, gigTitle, description, gigId, gigPrice) {
            const content = '<div class="card h-100 border-0 shadow">' +
                '<div class="card-img-top overflow-hidden gradient-overlay card-gig-image" style="height: 17vw; object-fit: cover;">' +
                '<img width="100%" height="100%" src="' + imageUrl + '" alt="img"/>' +
                '<a class="tile-link" href="' + url + '"></a>' +
                '<div class="card-img-overlay-bottom z-index-20">' +
                '<div class="media text-white text-sm align-items-center">' +
                '<div class="media-body">' + firstName + '</div>' +
                '</div>' +
                '</div>' +
                '<div class="card-img-overlay-top text-right"> <a class="card-fav-icon position-relative z-index-40"href="javascript: void();">' +
                '<svg class="svg-icon text-white">' +
                '<use xlink:href="#heart-1"></use>' +
                '</svg>' +
                '</a></div>' +
                '</div>' +
                '<div class="card-body d-flex align-items-center">' +
                '<div class="w-100">' +
                '<h6 class="card-title"><a class="text-decoration-none text-dark" href="' + url + '">' + gigTitle + '</a> </h6>' +
                '<div class="d-flex card-subtitle mb-3">' +
                '<p class="flex-grow-1 mb-0 text-muted text-sm">' + description + '...</p>' +
                '</div>' +
                '<div class="mb-2" id="map-gig-id-' + gigId + '"></div>' +
                '<p class="card-text text-muted"><span class="h4 text-primary">cfa ' + gigPrice + ' </span> /h</p>' +
                '</div>' +
                '</div>' +
                '</div>';
            return content;
        }
    </script>

{% endblock %}