{% extends 'base.html' %}
{% load static %}

{% block page %}
  <section class="py-5">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb #{breadcrumbClass}">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">Tes Services   </li>
        </ol>
        <h1 class="hero-heading mb-0">Mes Services</h1>
        <p class="text-muted mb-5">Gestion de tes services ici.</p>
        <div class="panel panel-default">
          <div class="table-responsive text-sm mb-5">
            <table class="table table-striped">
              <thead class="bg-gray-200">
                <tr class="border-0">
                  <th class="center">#</th>
                  <th>Titre</th>
                  <th>Description</th>
                  <th class="text-right">Prix</th>
                  <th class="center"></th>
                  <th class="center"></th>
                </tr>
              </thead>
              <tbody>
                {% for gig in gigs %}
                <tr>
                  <td class="text-center"> {{ forloop.counter }} </td>
                  <td class="font-weight-bold"><a href="{% url 'gig_detail' gig.id %}"> {{ gig.title|slice:"0:50" }} </a></td>
                  <td> {{ gig.description|slice:"0:100" }}... </td>
                  <td class="text-right"> {{ gig.price }} </td>
                  <td class="text-center"><a class="btn btn-warning" href="{% url 'gig_edit' gig.id %}">Modifier</a></td>
                  <td class="text-center"><a class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete" href="">Supprimer</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section> 
    <!-- Modal -->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDeleteLabelß" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Es-tu de vouloir supprimer le service ? 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Non - Annuler</button>
            <button type="button" class="btn btn-danger">Oui</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
