{% extends 'base.html' %}
{% load static %}

{% block page %}
    {% include 'messaging.html' %}
    <div class="container-fluid px-3">
        <div class="row min-vh-100">
            <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
                <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                    <div class="mb-5"><img class="img-fluid mb-3" src="{% static 'img/logo-square.svg' %}" alt="..."
                                           style="max-width: 4rem;">
                        <h2>Changez votre mot de passe</h2>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="new_password1">Nouveau mot de passe:</label>
                            <input class="form-control" name="new_password1" id="new_password1" type="password"
                                   autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="new_password2">Confirmation du nouveau mot de passe:</label>
                            <input class="form-control" name="new_password2" id="new_password2" type="password"
                                   autocomplete="off" required>
                        </div>
                        <button class="btn btn-outline-info" type="submit">Soumettre</button>
                    </form>

                    <a class="close-absolute mr-md-5 mr-xl-6 pt-5" href="{% url 'home' %}">
                        <svg class="svg-icon w-3rem h-3rem">
                            <use xlink:href="#close-1"></use>
                        </svg>
                    </a>
                </div>

            </div>
            <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
                <!-- Image-->
                <div class="bg-cover h-100 mr-n3"
                     style="background-image: url({% static 'img/photo/photo-is-929926146.jpeg' %});"></div>
            </div>
        </div>
    </div>

{% endblock %}