{% extends 'base.html' %}
{% load static %}

{% block page %}

    <section class="py-5">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0  justify-content-start">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'account' %}">Account</a></li>
          <li class="breadcrumb-item active">Personal info   </li>
        </ol>
        <h1 class="hero-heading mb-0">Infos Personnelles</h1>
        <p class="text-muted mb-5">Gères tes infos personnelles ici.</p>
        <div class="row">
          <div class="col-lg-7">
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Details de tes infos</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Modifier</button>
                </div>
              </div>
              <p class="text-sm text-muted">
                <i class="fa fa-id-card fa-fw mr-2"></i>{{ user.first_name }} {{ user.last_name }}<br>
                <i class="fa fa-birthday-cake fa-fw mr-2"></i> {{ profile.birthyear }} <br>
                <i class="fa fa-envelope-open fa-fw mr-2"></i>{{ user.email }}  <span class="mx-2"> | </span>  
                <i class="fa fa-phone fa-fw mr-2"></i>{{ profile.phone }} 
              </p>
              
              <div class="collapse" id="personalDetails">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row pt-4">
                    <input class="form-control" type="hidden" name="form_id" id="form_id" value="perso">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="name">Pseudo</label>
                      <input class="form-control" type="text" name="username" id="username" value="{{ user.username }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="name">Prénoms</label>
                      <input class="form-control" type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="name">Nom</label>
                      <input class="form-control" type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="date">Année de Naissance</label>
                      <input class="form-control" type="number" minlength="4" maxlength="4" name="birthyear" id="birthyear" value="{{ profile.birthyear }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="email">Email</label>
                      <input class="form-control" type="email" name="email" id="email" value="{{ user.email }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="phone">Telephone</label>
                      <input class="form-control" type="text" name="phone" id="phone" value="{{ profile.phone }}">
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">Sauvegarder</button>
                </form>
              </div>
            </div>

            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Addresse</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#address" aria-expanded="false" aria-controls="address">Modifier</button>
                </div>
              </div>
              <div class="media text-sm text-muted"> <i class="fa fa-address-book fa-fw mr-2"></i>
                <div class="media-body mt-n1">{{ profile.city }}</div>
                <div class="media-body mt-n1">{{ profile.country }}</div>
                <div class="media-body mt-n1">{{ profile.address }}</div>
              </div>
              <div class="collapse" id="address">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row pt-4">
                    <input class="form-control" type="hidden" name="form_id" id="form_id" value="addr">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="address">Adresse (optionnel)</label>
                      <input class="form-control" type="text" name="address" id="address" value="{{ profile.address }}">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="city">Ville</label>
                      <select class="selectpicker form-control" name="city" id="city" data-style="btn-selectpicker">
                        <option value="{{ profile.city }}" selected> {{ profile.city }} </option>
                        {% for city in cities %}
                          <option value="{{ city }}"> {{ city }} </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="country">Pays</label>
                      <select class="selectpicker form-control" name="country" id="country" data-style="btn-selectpicker">
                        <option value="{{ profile.country }}" selected> {{ profile.country }} </option>
                        {% for country in countries %}  
                          <option value="{{ country }}"> {{ country }} </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary">Sauvegarder adresse</button>
                </form>
              </div>
            </div>

            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Profile</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#profil" aria-expanded="false" aria-controls="address">Modifier</button>
                </div>
              </div>

              <div class="col-sm-9 media text-sm text-muted">
                <h6>Photo de profil</h6>
              </div>
              <div class="media text-sm text-muted"> 
                <div class="media-body mt-n1"><a class="d-inline-block" href="#"><img class="d-block avatar avatar-xxl p-2 mb-2" src="/media/{{ profile.avatar }}" alt=""></a></div>
              </div>
              <br/>
              <div class="col-sm-9 media text-sm text-muted">
                <h6>Qui est-tu ?</h6>
              </div>
              <div class="media text-sm text-muted"> 
                <div class="media-body mt-n1">{{ profile.about }}</div>
              </div>
              <br/>
              <div class="col-sm-9 media text-sm text-muted">
                <h6>Ton Slogan</h6>
              </div>
              <div class="media text-sm text-muted"> 
                <div class="media-body mt-n1">{{ profile.slogan }}</div>
              </div>
              <div class="collapse" id="profil">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row pt-4">
                    <input class="form-control" type="hidden" name="form_id" id="form_id" value="profl">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="about">Photo Profil (Ajoutes une photo de toi)</label>
                      <input type="file" class="form-control" name="avatar" id="id_avatar">
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="about">Qui es-tu (Décris toi en quelques phrases)</label>
                      <textarea class="form-control" type="text" name="about" id="about" rows="5"> {{ profile.about }} </textarea>
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="form-group col-md-12">
                      <label class="form-label" for="slogan">Ton Slogan (Décris en quelques mots tes valeurs)</label>
                      <input class="form-control" type="text" name="slogan" id="slogan" rows="2" value="{{ profile.slogan }}"></input>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary">Sauvegarder Profil</button>
                </form>
              </div>
            </div>            
          </div>
          <div class="col-md-6 col-lg-4 ml-lg-auto">
            <div class="card border-0 shadow">
              <div class="card-header bg-primary-light py-4 border-0">
                <div class="media align-items-center">
                  <div class="media-body">
                    <h4 class="h6 subtitle text-sm text-primary">What info is shared with others?</h4>
                  </div>
                  <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                    <use xlink:href="#identity-1"> </use>
                  </svg>
                </div>
              </div>
              <div class="card-body p-4">
                <p class="text-muted text-sm card-text">Directory only releases contact information for hosts and guests <strong>after a reservation is confirmed</strong>.</p>
                <p class="text-muted text-sm card-text">Amet nisi eiusmod minim commodo sit voluptate aute ut quis ea veniam sunt proident ex. <strong>Exercitation culpa laboris</strong> consequat fugiat non ipsum veniam Lorem aliqua deserunt tempor elit veniam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
