{% extends 'base.html' %}
{% load static %}

{% block page %}

    {% include 'messaging.html' %}

    <div class="container-fluid px-3">
        <div class="row min-vh-100">
            <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
                <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                    <div class="mb-4"><img class="img-fluid mb-4" src="{% static 'img/logo-square.svg' %}" alt="..."
                                           style="max-width: 4rem;">
                        <h2>Inscription</h2>
                    </div>

                    <form class="form-validate" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="loginUsername"> Pseudo</label>
                            <p class="text-sm text-muted">Pas de caractères speciaux (- # $ / ...) dans le pseudo.</p>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="loginUsername"> Prénoms</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="loginUsername"> Nom de Famille</label>
                            {{ form.last_name }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="loginUsername"> Année de Naissance</label>
                            {{ form.birthday }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="loginUsername"> Sélectionnez l'emplacement </label>
                            {{ form.address }}
                        </div>
                        {{ form.country }}
                        {{ form.city }}
                        {{ form.area }}
                        {{ form.lat }}
                        {{ form.lng }}
                        <div class="form-group">
                            <label class="form-label" for="loginUsername">Sélectionner e-mail ou téléphone</label>
                            {{ form.registration_type }}
                        </div>

                        <div class="form-group" id="account_email">
                            <label class="form-label" for="loginUsername"> Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group" id="account_phone">
                            <label class="form-label" for="loginUsername"> Telephone</label>
                            {{ form.phone }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="loginPassword"> Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label" for="loginPassword2"> Confirm your password</label>
                            {{ form.password2 }}
                        </div>
                        <button class="btn btn-lg btn-block btn-primary" type="submit">Inscription</button>
                        <hr class="my-4">
                        <p class="text-sm text-muted">By signing up you agree to Directory's <a href="#">Terms and
                            Conditions</a> and <a href="#">Privacy Policy</a>.</p>
                    </form>
                    <a class="close-absolute mr-md-5 mr-xl-6 pt-5" href="{% url 'home' %}">

                        <svg class="svg-icon w-3rem h-3rem">
                            <use xlink:href="#close-1"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
                <!-- Image-->
                <div class="bg-cover h-100 mr-n3"
                     style="background-image: url({% static 'img/photo/photo-is-510406778.jpeg' %});"></div>
            </div>
        </div>
    </div>

    <script>
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')


        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }

        var form_select = document.getElementsByTagName('select')
        for (var sel_field in form_select) {
            form_select[sel_field].className += ' form-control'
        }

        $(document).ready(function () {
            let iniAccountType = $("#account_type").find(":selected").val();
            changeRegistrationType(iniAccountType);

            $("#account_type").on('change', function () {
                let accountType = this.value
                changeRegistrationType(accountType);
            })
        });

        function changeRegistrationType(accountType) {
            if (accountType === "phone") {
                $("#account_email").hide();
                $("#account_phone").show();
            } else {
                $("#account_email").show();
                $("#account_phone").hide();
            }
        }

        function initMap() {
            const input = document.getElementById("id_address");
            const options = {
                types: ['neighborhood', 'locality', 'sublocality', 'postal_code'],
                strictBounds: false,
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);

            autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();
                let area = ""
                const displayArea = place.address_components.filter(f => JSON.stringify(f.types) === JSON.stringify(['sublocality_level_1', 'sublocality', 'political']));
                if (displayArea.length) {
                    area = displayArea[0].long_name
                }
                const displayCity = place.address_components.filter(f => JSON.stringify(f.types) === JSON.stringify(['locality', 'political']))[0].long_name;
                const displayCountry = place.address_components.filter(f => JSON.stringify(f.types) === JSON.stringify(['country', 'political']))[0].long_name;
                document.querySelector("#id_country").value = displayCountry;
                document.querySelector("#id_city").value = displayCity;
                document.querySelector("#id_area").value = area;
                document.querySelector("#id_lat").value = place.geometry.location.lat();
                document.querySelector("#id_lng").value = place.geometry.location.lng();
            })
        }
        window.initMap = initMap;
    </script>

{% endblock %}
